<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.section01.xmlmapper.ElementTestMapper">

    <resultMap id="employeeAndDepartmentResultMap" type="com.ohgiraffers.common.EmployeeAndDeptDTO">
        <id property="id" column="emp_id"/>
        <result property="name" column="emp_name"/>
        <result property="deptcode" column="dept_code"/>
        <association property="department" javaType="com.ohgiraffers.common.DepartmentDTO">
            <id property="id" column="dept_id"/>
            <result property="title" column="dept_title"/>
            <result property="locationId" column="location_id"/>
        </association>
    </resultMap>


    <select id="selectResultMapAssociationTest" resultMap="employeeAndDepartmentResultMap">
        select
        a.emp_id,
        a.emp_name,
        a.dept_code,
        b.dept_id,
        b.dept_title,
        b.location_id
        from employee a
        join department b  on (a.dept_code = b.dept_id)
    </select>

    <resultMap id="departmentAndEmployeeResultMap" type="com.ohgiraffers.common.DeptAndEmployeeDTO">
        <id property="id" column="dept_id"/>
        <result property="title" column="dept_title"/>
        <collection property="employeeList" ofType="com.ohgiraffers.common.EmployeeDTO">
            <id property="id" column="employee_id"/>
            <result property="name" column="emp_name"/>
<!--            <result property="no" column="emp_no"/>-->
            <result property="email" column="email"/>
            <result property="phone" column="phone"/>
            <result property="deptcode" column="dept_code"/>
            <result property="jobcode" column="job_code"/>
<!--            <result property="sallevel" column="sal_level"/>-->
            <result property="salary" column="salary"/>
            <result property="bonus" column="bonus"/>
<!--            <result property="hiredate" column="hire_date"/>-->
<!--            <result property="entdate" column="ent_date"/>-->
<!--            <result property="entyn" column="ent_yn"/>-->

            <result property="orderableStatus" column="orderable_status"/>
        </collection>
    </resultMap>

    <select id="selectResultMapCollectionTest" resultMap="departmentAndEmployeeResultMap">
        select
        a.dept_id,
        a.dept_title,
<!--        b.emp_name,-->
        b.emp_no,
        b.email,
        b.phone,
        b.dept_code,
        b.job_code,
<!--        b.sal_level,-->
        b.salary,
        b.bonus
<!--        b.hire_date,-->
<!--        b.ent_date,-->
<!--        b.ent_yn-->
        from department a
        left join employee b on (a.dept_id = b.dept_code)
    </select>


</mapper>